
    <h5 class="card-title">{{ product.title }}</h5>
    <div class="product-photo">
      <img
        class="img-fluid"
        width="250"
        height="200"
        src="http://localhost:3000{{ product.filename }}"
        alt=""
        class="rounded"
      />
    </div>
    <div class="card-text">
      <div class="truncate-text">{{ product.description }}</div>
    </div>

    <div class="row">
      
        <app-product-card-rating class="col-sm-12"></app-product-card-rating>
      
    </div>

    <h6>Rating {{ product.rating }}</h6>

    <h6>Price {{ product.price }}</h6>
    <button type="button" class="btn btn-block btn-outline-primary mt-auto">
      Add to card
    </button>
  
