.navbar {
    padding: 0 20px;
    background-color: rgb(113, 99, 202);
}

.navbar-brand img {
    width: 50px;
}

#navbarNavAltMarkup{
    justify-content: center;
} 

.nav-link{
    margin: 0 5px;

    &.active {
        border-bottom: 1px solid black;
    }
}