<div class="title-top">
  <h2 class="text-center">HAVE SOME QUESTIONS?</h2>
  <p class="text-center">De Run 6501 5504 DR, Veldhoven The Netherlands</p>
</div>

<div class="container d-flex justify-content-center">
  <div class="row my-2 mx-2">
    <div class="col-6 image-container">
      <img src="assets/envelope.png" alt="IMG" />
    </div>
  
    <!--col-->
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
      <app-contact-us-form> </app-contact-us-form>
         </div>
    <!--col-->
  </div>
  <!--row-->
</div>
