<div class="title-top">
  <h2 class="text-center">HAVE SOME QUESTIONS?</h2>
  <p class="text-center">De Run 6501 5504 DR, Veldhoven The Netherlands</p>
</div>

<div class="container d-flex justify-content-center">
  <div class="row my-2 mx-2">
    <div class="col-6 image-container">
      <img src="assets/envelope.png" alt="IMG" />
    </div>
  
    <!--col-->
    <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
      <form>
        <div class="form-group pl-1">
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            placeholder="First Name"
          />
        </div>
        <div class="form-group pl-1">
          <label for="exampleInputName"></label>
          <input
            type="text"
            class="form-control"
            id="exampleInputName"
            placeholder="Last Name"
          />
        </div>
        <div class="form-group pl-1">
          <label for="exampleInputEmail1"></label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="What's your email?"
          />
        </div>
        <div class="form-group pl-1">
          <label for="exampleFormControlTextarea1"></label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="5"
            placeholder="Your question.."
          ></textarea>
        </div>

        <button type="button" class="btn btn-secondary btn-block mt-4">
          Send message
        </button>
      </form>
    </div>
    <!--col-->
  </div>
  <!--row-->
</div>
