<p>products works!</p>

<a class = "container" *ngFor="let category of productCategories$ | async">
    {{ category.name }}
</a>

<div> </div>
<div class="container"  *ngFor="let product of products$ | async">
    <div class="row">
        <div class="col-4">
            <div class="card">
        
    <h4 class="card-title"> {{ product.title }} </h4>
    <img class="card-img-top"  src="http://localhost:3000{{ product.filename}}" alt="" class="rounded" >
    <p class="card-text"> {{product.description}} </p>
    <h6>Rating {{product.rating}}</h6>
    <h6> Price {{product.price}}</h6> 
    <button type="button" class="btn btn-block btn-outline-primary mt-auto">Add to card</button>
            </div>
        </div>    
    </div>


</div>
