.container{
    text-align: center;
}

.card{
    background-color: #cbcbcb;
}

/*bootstrap cdn link for Css

.container{
    margin-top: 110px !important;
}

.card{
    border: none;
    outline: none;
    background-color:#fff;
    border-radius: 20px;
    transition: transform .3s;
}

.card:hover{
transform: translateY(-15px);
transition: transform .3s;
}

.text1{
    font-size: 13px;
    color: #cbcbcb;
}

.info{
    line-height: 17px;
}

.start{
    color: #fbc02d;
}

/*card1,2,3
.cost span{
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
}

.cursor{
    cursor: pointer;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius: 20px;
}*/


